<!doctype html>
<html lang="pt_br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="imagem/png"  href="logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/recomendados.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/restaurantes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />

    <title>FlashFood</title>
  </head>
  <body>


        <!-- categorias -->

        <div class="fixed-top pt-4 px-4">
        <div aria-label="Page navigation example " >
          <ul class="pagination">
            <li class="page-item" >
              <a   style="background-color: #F7F8F9; " class="page-link" href="{{url_for('cliente.pagina_cliente', id=current_user.id)}}" aria-label="Previous">
                <span style="color: #444444; " aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <h3 class="fw-bold mx-3 mt-2" style="font-size: 20px;">
              Lanches
            </h3>
          </ul>
        </div>
    </div>

      <div class="container mb-5 categorias">




          <!-- Lanches -->
    <div class="container mt-2">
    <div class="row ">
      {% for restaurante in restaurantes %}
          <div class="col-md-6 col-xl-3 mt-3">
            <a style="text-decoration: none; list-style: none;" href="/cliente/pagina_restaurante/{{restaurante.id}}">
            <div class="card2 order-card">
              <div class="card-block text-center">
                <img class="restauranteimg my-3" src="https://files.menudino.com/cardapios/32096/logo.png">
                <h5 class="text-center fw-bold " style="color:black;">{{restaurante.nome_restaurante}}</h5>
                <p class="text-center">
                  <span class="" style="font-size: 0.8rem; color: #ffbb00;">5.0
                    <span class="fa fa-star"> </span>
                  </span>
                  <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                    {{restaurante.categoria}}
                  </span>
                </p>
              <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
                 30-40 min - entrega R$1,00
              </p>
              </div>
                </div>
              </a>
            </div>
        {% endfor %}
                <!-- detalhes restaurant1 -->

                <!-- final card1 -->




        <div class="col-md-6 col-xl-3 mt-3">
          <div class="card2  order-card">
            <div class="card-block text-center">
              <img class="restauranteimg my-3" src="https://i.pinimg.com/736x/ca/ff/dc/caffdc755a4396b4c99da3da83e62796--logo-design-contest-logo-design-ideas.jpg">
              <h5 class="text-center fw-bold">Buck's</h5>
              <p class="text-center">
                <span class="" style="font-size: 0.8rem; color: #ffbb00;">4.8
                  <span class="fa fa-star"> </span>
                </span>
                <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                  Lanches
                </span>
              </p>
              <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
                 30-40 min - entrega R$1,00
              </p>
            </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-3 mt-3">
          <div class="card2 bg-c-yellow order-card">
            <div class="card-block text-center">
              <img class="restauranteimg my-3" src="https://guiadohamburguer.com/wp-content/uploads/2021/05/hamburgueria-brabus-logo.png">
              <h5 class="text-center fw-bold">Brabus</h5>
              <p class="text-center">
                <span class="" style="font-size: 0.8rem; color: #ffbb00;">4.5
                  <span class="fa fa-star"> </span>
                </span>
                <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                  Lanches - pizzas
                </span>
              </p>
              <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
                 25-35 min - entrega R$2,00
              </p>
            </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mt-4">
          <div class="card2 bg-c-pink order-card">
            <div class="card-block text-center">
              <img class="restauranteimg my-3" src="http://imagenspng.com/wp-content/uploads/logomarca-hamburgueria-png-Download-gratis.png">
              <h5 class="text-center fw-bold">Burger Food</h5>
              <p class="text-center">
                <span class="" style="font-size: 0.8rem; color: #ffbb00;">4.3
                  <span class="fa fa-star"> </span>
                </span>
                <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                  Lanches
                </span>
              </p>
              <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
                 20-40 min - entrega R$2,00
              </p>
            </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-3 mt-4">
          <div class="card2 bg-c-blue order-card">
            <div class="card-block text-center">
              <img class="restauranteimg my-3" src="https://images.multipedidos.com.br/profiles/v70x5q6374d7owdkzcl8.jpg">
              <h5 class="text-center fw-bold">Retrô</h5>
              <p class="text-center">
                <span class="" style="font-size: 0.8rem; color: #ffbb00;">4.0
                  <span class="fa fa-star"> </span>
                </span>
                <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                  Lanches - Doces
                </span>
              </p>
              <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
                 40-50 min - entrega R$2,00
              </p>
            </div>
          </div>
      </div>


      <div class="col-md-6 col-xl-3 mt-3">
        <div class="card2 bg-c-green order-card">
          <div class="card-block text-center">
            <img class="restauranteimg my-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyoMECfpV62s3zRYMpKczv9B5mq9tNHfqwfg&usqp=CAU">
            <h5 class="text-center fw-bold">Trips burger</h5>
            <p class="text-center">
              <span class="" style="font-size: 0.8rem; color: #ffbb00;">4.2
                <span class="fa fa-star"> </span>
              </span>
              <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                Lanches
              </span>
            </p>
            <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
               25-40 min - entrega R$2,00
            </p>
          </div>
          </div>
      </div>


      <div class="col-md-6 col-xl-3 mt-3">
        <div class="card2 bg-c-yellow order-card">
          <div class="card-block text-center">
            <img class="restauranteimg my-3" src="https://play-lh.googleusercontent.com/ASCjHBylfBufewYOiz025GPY2KPonrUTxhLO1JRyaFQvF3FLiDHMaEAVRtvQ3cLjRxg">
            <h5 class="text-center fw-bold">House</h5>
            <p class="text-center">
              <span class="" style="font-size: 0.8rem; color: #ffbb00;">3.5
                <span class="fa fa-star"> </span>
              </span>
              <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                Lanches - pizzas
              </span>
            </p>
            <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
               25-40 min - entrega R$2,00
            </p>
          </div>
          </div>
      </div>

      <div class="col-md-6 col-xl-3 mt-3">
        <div class="card2">
              <div class="card-block text-center">
                <img class="restauranteimg my-3" src="https://d1fdloi71mui9q.cloudfront.net/vWVK97JeT56XaxB1z4cw_I0T7ausIVDa248ib">
                <h5 class="text-center fw-bold">Dom Burger</h5>
                <p class="text-center">
                  <span class="" style="font-size: 0.8rem; color: #ffbb00;">3.5
                    <span class="fa fa-star"> </span>
                  </span>
                  <span class="text-center fw-light mt-3" style="font-size: 0.8rem; color: #444444;">
                    Lanches - pizzas
                  </span>
                </p>
                <p class="text-center fw-light " style="font-size: 0.8rem; color: #818181;">
                   25-40 min - entrega R$2,00
                </p>
              </div>
          </div>
      </div>
	</div>
</div>
      <br><br><br>

    </div>

                    <!-- rodape -->

    <section id="footer">
        <div class="container  ">
          <div class="row text-center text-xs-center text-sm-left text-md-left mb-2">
            <div class="col-xs-12 col-sm-4 col-md-4">
              <ul class="list-unstyled quick-links">
                <li><a href="/templates/home-page.html"><i class="fa fa-angle-double-right"></i>Home</a></li>

              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <ul class="list-unstyled quick-links">
                <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Contato</a></li>

              </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
              <ul class="list-unstyled quick-links">
                <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Sobre nós</a></li>

              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
            <hr style="color: white;">
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
              <a href="#" class="h6">© Copyright 2022 - FlashFood - Todos os direitos reservados</a>
            </div>
          </div>
        </div>
    <!-- Importando o jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Importando o js do bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/categorias.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>

        const panels = document.querySelectorAll('.panel');

        panels.forEach(panel => panel.addEventListener('click',()=>{
            removeActiveClasses()
            panel.classList.add('active');
        }))

        function removeActiveClasses(){
            panels.forEach(panel => panel.classList.remove('active'))
        }


        </script>

  </body>
</html>