<h1>Edite seu perfil</h1>
<form method="post" enctype="multipart/form-data">
    Imagem:<input type="file" name="imagem_perfil"><br>
   Nome:<input type="text" name="nome" value="{{cliente.nome}}"><br>
    Endereço:<input type="text" name="endereco" value="{{cliente.endereco}}"><br>
    CPF:<input type="text" name="cpf" value="{{cliente.cpf}}"><br>
    Telefone:<input type="text" name="telefone" value="{{cliente.telefone}}"><br>
    <input type="submit" value="Salvar alterações">

</form>
<form action="/cliente/excluirconta/{{cliente.id}}" method="post">
<input type="submit" name="Excluir conta" value="{{delete}}">
</form>