<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/recuperar_senha.css') }}">

    <title>Registrar</title>
  </head>
  <body>
    <body>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
              <div class="card-img-left d-none d-md-flex">
              <form method="post">
              </div>
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-3 fw-light fs-5 m-5  fw-bolder">
                  Recuparação de senha
                </h5>
                <p class="card-title text-center mb-5">
                  Enviaremos um e-mail de <br> verificação  <br>
                </p>
                  <!-- Adicionar email -->
                  <div class="form-floating mb-4 mx-4">
                    <input
                      name="email"
                      type="email"
                      class="form-control"
                      id="floatingInputEmail"
                      placeholder="name@example.com"
                    />
                    <label class="txtbox" for="floatingInputEmail">Insira seu e-mail</label>
                  </div>

                  <!-- Botão de enviar código -->
                  <div class="d-grid mb-2 mx-4  ">
                    <button
                      class="btn btn-lg btn-danger btn-login fw-bold text-uppercase"
                      type="submit"
                    >
                      Enviar e-mail
                    </button>
                  </div>
                  <!-- Link para criar conta -->
                  <a class="d-block text-center mt-3 small" href="/cliente/login_cliente/cadastro_cliente"
                    >Criar nova conta</a
                  >



                  <br><br><br><br><br><br>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
