@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body {
  background: #ea4335;
  background-color: #f7f6ff;
}

.card-img-left {
  width: 45%;
  background: scroll center url("/static/img/ilustration2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ea4335;
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.btn-danger {
  color: white !important;
  background-color: #ea4335;
}

.txtbox {
  color: #a2a2a2;
}
