

h2{
    font-weight: 900
}

.recomendados{
    margin-top: 100px;
}



.cardre{
    background: #fff;box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;border-radius: 1rem
}


.cardre h5{
    overflow: hidden;
    height: 56px;
    font-weight: 900;
    font-size: 1rem
}


.cardre h2{
    font-size: 1rem
}

.cardre:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}



.top-right{
    position: absolute;
    top: 24px;
    left: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #ff5722;
    line-height: 90px;
    text-align: center;
    color: white
}



@media (max-width: 768px){
    .card-img-top{max-height: 250px}
}
.over-bg{
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px
}


.box{
    font-size: 1.5rem
}




.price-hp{
    font-size: 1rem;
    font-weight: 600;
    color: darkgray
}


.fa-question-circle:before{
    color: darkgray
}

.fa-plus:before{
    color: darkgray
}

.box{
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)
}

.box-img{
    max-width: 300px
}

.thumb-sec{
    max-width: 300px
}


.inner-gallery{
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 1px;
    display: inline-block;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover
}


.disclaimer{
    font-size: .9rem;
    color: darkgray
}

.related h3{
    font-weight: 900
}

footer{
    background: #212529;
    height: 80px;
    color: #fff
}