<h1>Adicione um novo prato</h1>
<hr>
<form action="/restaurante/pagina_restaurante/adicionar_cardapio" method="post" enctype="multipart/form-data">
    Imagem do prato:<input type="file" name="imagem_prato"><br>
    Nome do prato:<input type="text" name="nome_prato"><br>
    Valor:<input type="text" name="valor"><br>
    Ingredientes:<textarea name="ingredientes" style="resize:none;"></textarea><br>
    tempo de preparo:<input type="time" name="tempo_preparo"><br>
    <input type="submit" value="Cadastrar cardápio">
</form>